<header class="header">
  <h1 class="header__logo"><a href="/">The Album Catalog</a></h1>
  <figure class="header__menu__icon">
    <i><img src="../../public/img/menu_50.png" /></i>
  </figure>

  <nav>
    <ul>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/artists/new">Add Artist</a></li>
    </ul>
  </nav>
</header>
