<header class="header">
  <h1 class="logo"><a href="/">The Album Catalog</a></h1>

  <nav class="menu">
    <ul class="menu_list">
      <li class="list_item"><a href="/music">Music</a></li>
      <li class="list_item"><a href="/movies">Movies</a></li>
      <li class="list_item"><a href="/new">Add</a></li>
    </ul>
  </nav>

  <section class="login_signup">
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  </section>
</header>
