<header class="header">
<<<<<<< HEAD
  <h1 class="logo"><a href="/">The Album Catalog</a></h1>
=======
  <h1 class="header__logo"><a href="/">The Album Catalog</a></h1>
  <figure class="header__menu__icon">
    <i><img src="../../public/img/menu_50.png" /></i>
  </figure>
>>>>>>> 4cc677777c70d0500834dca52c1f751f925b3a28

  <nav class="menu">
    <ul class="menu_list">
      <li class="list_item"><a href="/music">Music</a></li>
      <li class="list_item"><a href="/movies">Movies</a></li>
      <li class="list_item"><a href="/new">Add</a></li>
    </ul>
  </nav>

  <section class="login_signup">
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  </section>
</header>
