<section class="featured">
  <h1 class="featured_title">Featured</h1>

  <figure class="featured_illustration">
    <img src="/img/rush-featured.jpg" alt="" />
  </figure>
</section>

<section class="others">
  <article class="others_block">
    <figure class="others_illustration">
      <img src="/img/sepultura-others.jpg" alt="" />
    </figure>

    <span class="others_name">Sepultura</span>
  </article>

  <article class="others_block">
    <figure class="others_illustration">
      <img src="/img/slayer-others.jpg" alt="" />
    </figure>

    <span class="others_name">Slayer</span>
  </article>

  <article class="others_block">
    <figure class="others_illustration">
      <img src="/img/lamb-others.jpg" alt="" />
    </figure>

    <span class="others_name">Lamb of God</span>
  </article>

  <article class="others_block">
    <figure class="others_illustration">
      <img src="/img/colotyphus-others.jpg" alt="" />
    </figure>

    <span class="others_name">Colotyphus</span>
  </article>
</section>
